.all-classes-container {
  background-color: black;
}

.classes-cards-container {
  max-width: 1920px;
  margin: auto;
}

.classes-cards-top {
  display: flex;
  justify-content: center;
}

.classes-cards-bottom {
  display: flex;
  justify-content: center;
}
