@import "../../scss/mixins.scss";

.all-classes-container {
  background-color: black;
}

.classes-cards-container {
  max-width: 1920px;
  margin: auto;
}

.classes-cards-top {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @include tablet-landscape {
    display: flex;
    flex-direction: column;
  }
}

.classes-cards-bottom {
  display: flex;
  justify-content: center;

  @include tablet-landscape {
    display: flex;
    flex-direction: column;
  }
}
