$logoWidth: 167px;
$logoHeight: 114px;
$logotypeWidth: 310px;
$logotypeHeight: 125px;

$main-color: #ff0000;

body {
  font-family: "Ubuntu";
  margin: 0px;
}

.container {
  max-width: 1920px;
  margin: auto;
}

// --- NAVBAR ---

.navbar {
  display: flex;
  justify-content: space-around;

  ul {
    display: flex;
    justify-content: space-between;
    width: 45%;
    padding: 2em;
    margin: 0;
    font-size: 1.25em;

    li {
      list-style-type: none;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  .flex-eq {
    display: flex;
    padding: 0 122px 0 0;
  }

  .btn-login {
    margin: auto 0;
    border-radius: 0.2em;
    justify-content: flex-end;
    background: transparent;
    height: 47px;
    line-height: 40px;
    border: 1px solid white;
    display: block;
    float: none;
    text-align: center;
    width: 122px;
    font-family: "Ubuntu";
    font-size: 1.25em;
    color: $main-color;
  }
}

// --- LANDING PAGE ---

.landing-page {
  background-image: url("../../assets/images/landing-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  margin: auto;
  height: 100vh;
  background-color: black;

  h1 {
    text-align: center;
    padding-top: 50vh;
    margin: 0;
    font-size: 2em;
    color: white;
    font-weight: normal;
  }

  .btn-join-main {
    margin: 1.2em auto;
    border-radius: 0.2em;
    justify-content: center;
    background: transparent;
    height: 90px;
    line-height: 40px;
    border: 2px solid $main-color;
    display: block;
    float: none;
    text-align: center;
    width: 620px;
    font-family: "Ubuntu";
    font-size: 2em;
    color: $main-color;
  }
}

.logo {
  position: absolute;
  top: calc(50% - #{$logoHeight}* 2);
  left: calc(50% - #{$logoWidth}/ 2);
  mix-blend-mode: screen;

  // .logo {
  //   position: absolute;
  //   top: 1px;
  //   mix-blend-mode: screen;

  // img {
  //   padding: 1.8em 0 0 2em;
  //   width: 40%;
  // }
}

.logotype {
  position: absolute;
  top: calc(50% - #{$logotypeHeight}/ 2);
  left: calc(50% - #{$logotypeWidth}/ 2);
}

// .bg-image {

//   width: 1920px;
//   height: 1080px;
//   top: 1px;
//   position: absolute;
// }
