body {
  font-family: "Ubuntu";
  margin: 0px;
}

.container {
  max-width: 1920px;
  margin: auto;
}

.navbg-large {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 5.25em;
  z-index: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbg-small {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 3em;
  z-index: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.large {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  left: 0;
  right: 0;
  padding: 0;
  width: 100%;
  z-index: 2;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.large ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 45%;
  padding: 2em;
  margin: 0;
  font-size: 1.25em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.large ul li {
  list-style-type: none;
}

.large ul li a {
  text-decoration: none;
  color: white;
}

.large .flex-eq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 122px 0 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.large .btn-login {
  margin: auto 0;
  border-radius: 0.2em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: transparent;
  height: 47px;
  line-height: 40px;
  border: 1px solid white;
  display: block;
  float: none;
  text-align: center;
  width: 122px;
  font-family: "Ubuntu";
  font-size: 1.25em;
  color: #ff0000;
}

.small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  left: 0;
  right: 0;
  padding: 0;
  width: 100%;
  z-index: 2;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.small ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35%;
  padding: 1em;
  margin: 0;
  font-size: 1em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.small ul li {
  list-style-type: none;
}

.small ul li a {
  text-decoration: none;
  color: white;
}

.small .flex-eq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 50vw 0 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.small .btn-login {
  background: url("../../assets/images/user-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  font-size: 0;
  width: 50px;
  height: auto;
  margin: 0 10px;
  padding-right: 100px;
}

.landing-page {
  background-image: url("../../assets/images/landing-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: auto;
  height: 100vh;
  background-color: black;
}

.landing-page h1 {
  text-align: center;
  padding-top: 65vh;
  margin: 0;
  font-size: 2em;
  color: white;
  font-weight: normal;
}

.landing-page .btn-join-main {
  margin: 1.2em auto;
  border-radius: 0.2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
  height: 90px;
  line-height: 40px;
  border: 2px solid #ff0000;
  display: block;
  float: none;
  text-align: center;
  width: 620px;
  font-family: "Ubuntu";
  font-size: 2em;
  color: #ff0000;
}

.logo-large {
  position: absolute;
  top: calc(50% - 114px* 2);
  left: calc(50% - 167px/ 2);
  mix-blend-mode: screen;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  z-index: 3;
}

.logo-large img {
  padding: 0;
  width: 100%;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.logo-small {
  position: fixed;
  top: 1px;
  left: 0px;
  mix-blend-mode: screen;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  z-index: 3;
}

.logo-small img {
  padding: 0.3em 0 0 2em;
  width: 25%;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.logotype {
  position: absolute;
  top: calc(50% - 125px/ 2);
  left: calc(50% - 310px/ 2);
}

.classes-page {
  background-image: url("../../assets/images/classes-page/classes-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: auto;
  height: 200vh;
  background-color: black;
}
/*# sourceMappingURL=style.css.map */