@import "../../../scss/mixins.scss";

$max-height: 600px;

.pricing-card-container {
  border: 2px solid white;
  border-radius: 10px;
  margin: 1em;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: $max-height;
  max-height: $max-height;
  color: white;
  justify-content: space-between;

  @include mobile-landscape {
    height: calc(#{$max-height} * 0.7);
  }

  .pricing-card-info-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex: 6;

    .pricing-card-title {
      margin: 10% 0 10%;
    }

    .pricing-card-subtitle {
      margin: 0 0 1em 0;

      font-size: 1.2em;
      text-align: left;

      @include mobile-landscape {
        padding: 0 1em;
        font-size: 0.8em;
        text-align: center;
      }
    }

    .pricing-card-perks {
      @include mobile-landscape {
        padding: 0 1em;
      }

      padding: 0 2.5em;
      li {
        font-size: 1em;
        margin: 0em 1em 1em;

        @include mobile-landscape {
          font-size: 0.8em;
        }
      }
    }
    .pricing-card-price {
      margin-top: auto;
      justify-self: flex-end;
    }
  }
}

.pricing-button {
  border: 2px solid red;
  background: transparent;
  color: red;
  font-size: 1.6em;
  width: 90%;
  min-height: 10%;
  max-height: 10%;
  border-radius: 10px;
  margin-bottom: 5%;
  margin-top: 10%;
  justify-self: flex-end;
  flex: 1;
  transition: all 0.1s ease-out;

  @include mobile-landscape {
    font-size: 1em;
    min-height: 5%;
    min-width: 5%;
  }

  &:hover {
    font-weight: bolder;
    background: red;
    color: white;
  }

  &:active {
    background-color: darken(red, 10%);
  }
}
