@import "../../scss/mixins.scss";

.about-page-container {
  // height: 100vh;
  background-color: black;
  z-index: 1;
  padding-bottom: 5em;
}

.about-columns {
  display: flex;
  justify-content: center;
  z-index: 1;

  @include tablet-landscape {
    flex-direction: column;
    justify-content: center;
  }
}

.about-page-background {
  display: flex;
  position: absolute;
  z-index: 0;

  @include tablet-landscape {
    margin: auto;
    width: 100vw;
    flex-direction: column;
    align-items: center;

    img {
      display: none;
    }
  }

  img {
    padding: 0 5em;
    opacity: 0.25;
    max-width: 600px;
    max-height: 400px;
    z-index: 0;
  }
}
