.trainer-info {
  padding: 3em 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 1;
}

@media (max-width: 1200px) {
  .trainer-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: black;
  }
}

@media (max-width: 1200px) {
  .trainer-info .trainer-quote {
    text-align: center;
    padding: 0 2em;
  }
}

.trainer-info.reversed {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.trainer-info h1 {
  font-size: 3em;
  color: red;
  margin: 0 0;
}

@media (max-width: 1500px) {
  .trainer-info h1 {
    font-size: 2em;
  }
}

.trainer-info h2 {
  color: white;
}

.trainer-info p {
  color: white;
}

.trainer-name-and-spec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trainer-bot-mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media (max-width: 1200px) {
  .trainer-bot-mid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.trainer-image {
  position: relative;
  z-index: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 1200px) {
  .trainer-image {
    min-height: 250px;
  }
}

.trainer-image.reversed {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (max-width: 1200px) {
  .trainer-image.reversed {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.trainer-image img {
  position: absolute;
  max-width: 500px;
  max-height: 500px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

@media (max-width: 1200px) {
  .trainer-image img {
    left: calc(50% - 383px / 2);
  }
}

.trainer-image.revealed {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.trainer-image.revealed img {
  position: absolute;
  max-width: 500px;
  max-height: 500px;
  -webkit-transform: translateY(-130px);
          transform: translateY(-130px);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.trainer-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 900px) {
  .trainer-name {
    font-size: 0.8em;
  }
}

.trainer-name * {
  padding: 0 20px;
}

@media (max-width: 600px) {
  .trainer-name img {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    padding: 0;
    background-color: white;
  }
}

.trainer-specialization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.trainer-specialization * {
  padding: 0 20px;
}

@media (max-width: 1200px) {
  .trainer-specialization {
    font-size: 0.8em;
  }
}

@media (max-width: 600px) {
  .trainer-specialization {
    font-size: 0.8em;
  }
  .trainer-specialization img {
    padding: 0;
  }
}

.arrow-small-flipped {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.social-icons-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: -40px;
  right: 0;
  z-index: 2;
}

@media (max-width: 1200px) {
  .social-icons-container {
    right: calc(50% - 373px / 2 - 3.2em / 2);
  }
}

.social-icons-container.reversed {
  right: unset;
  left: 0;
}

@media (max-width: 1200px) {
  .social-icons-container.reversed {
    left: calc(50% - 373px / 2 - 3.2em / 2);
  }
}

.social-icons-container.reversed .social-icon {
  margin-right: unset;
  margin-left: 3.2em;
}

.social-icon {
  position: relative;
  margin-right: 3.2em;
}

.social-icon:hover .social-icon-active {
  display: block;
}

.social-icon-active {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.trainer-section-container {
  max-width: 1920px;
  margin: auto;
}

.trainer-top-black {
  background-color: black;
  width: 100%;
  height: 50px;
}

.trainer-bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trainer-bot-right {
  background-color: black;
  width: 20%;
}

@media (max-width: 1500px) {
  .trainer-bot-right {
    width: 15%;
  }
}

@media (max-width: 1200px) {
  .trainer-bot-right {
    width: 0;
    height: 0;
  }
}

.trainer-bot-left {
  background-color: black;
  width: 20%;
}

@media (max-width: 1500px) {
  .trainer-bot-left {
    width: 15%;
  }
}

@media (max-width: 1200px) {
  .trainer-bot-left {
    width: 0;
    height: 0;
  }
}

.trainer-below-black {
  position: relative;
  background-color: black;
  width: 100%;
  height: 200px;
}

.trainer-section-fill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.trainer-side-fill {
  background-color: black;
  background-size: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.border-edge-top {
  position: absolute;
  top: 0;
  left: -2.5%;
  width: 105%;
  max-height: 4px;
}

@media (max-width: 1200px) {
  .border-edge-top {
    width: 0;
    height: 0;
  }
}

.border-edge-bot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 65%;
  max-height: 4px;
  z-index: 1;
}

.border-edge-bot.reversed {
  left: unset;
  right: 0;
}

.border-edge-left {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 4px;
  max-height: 80%;
}

@media (max-width: 1200px) {
  .border-edge-left {
    width: 0;
    height: 0;
  }
}

.border-edge-left.reversed {
  right: 0;
  left: unset;
  bottom: 0;
  width: 4px;
  max-height: 85%;
}

.border-edge-right {
  position: absolute;
  right: 0;
  top: 5%;
  width: 4px;
  max-height: 85%;
}

@media (max-width: 1200px) {
  .border-edge-right {
    width: 0;
    height: 0;
  }
}

.border-edge-right.reversed {
  left: 0;
  bottom: 0;
  width: 4px;
  max-height: 80%;
}
/*# sourceMappingURL=trainer-card.css.map */