// --- TRAINER INFO ---

.trainer-info {
  padding: 3em 3em;
  display: flex;
  flex-direction: column;
  flex: 2;
  align-items: flex-start;
  z-index: 1;

  &.reversed {
    order: 1;
  }

  h1 {
    font-size: 3em;
    color: red;
    margin: 0 0;
  }
  h2 {
    color: white;
  }
  p {
    color: white;
  }
}

.trainer-name-and-spec {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trainer-bot-mid {
  display: flex;
  justify-content: center;
  position: relative;
}

.trainer-image {
  position: relative;
  z-index: 0;

  &.reversed {
    order: 2;
  }

  img {
    position: absolute;
    max-width: 500px;
    max-height: 500px;

    transform: translateY(0);
    transition: transform 1s ease-in-out;
  }
  flex: 1;
}

.trainer-image.revealed {
  position: relative;

  img {
    position: absolute;
    max-width: 500px;
    max-height: 500px;

    transform: translateY(-130px);
    transition: transform 1s ease-in-out;
  }
  flex: 1;
}

.trainer-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & * {
    padding: 0 20px;
  }
}

.trainer-specialization {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & * {
    padding: 0 20px;
  }
}

.arrow-small-flipped {
  transform: scaleX(-1);
}

// --- SOCIAL MEDIA ICONS ---

.social-icons-container {
  position: absolute;
  display: flex;
  bottom: -40px;
  right: 0;
  z-index: 2;

  &.reversed {
    right: unset;
    left: 0;

    & .social-icon {
      margin-right: unset;
      margin-left: 3.2em;
    }
  }
}

.social-icon {
  position: relative;
  margin-right: 3.2em;

  &:hover .social-icon-active {
    display: block;
  }
}

.social-icon-active {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

// --- TRAINER CARD ---

.trainer-section-container {
  max-width: 1920px;
  margin: auto;
}

.trainer-top-black {
  background-color: black;
  width: 100%;
  height: 50px;
}

.trainer-bottom-container {
  display: flex;
}

.trainer-bot-right {
  background-color: black;
  width: 20%;
}

.trainer-bot-left {
  background-color: black;
  width: 20%;
}

.trainer-below-black {
  position: relative;
  background-color: black;
  width: 100%;
  height: 200px;
}

.trainer-section-fill {
  display: flex;
  justify-content: space-around;
}

.trainer-side-fill {
  background-color: black;
  background-size: auto;
  flex-grow: 1;
}

.border-edge-top {
  position: absolute;
  top: 0;
  left: -2.5%;
  width: 105%;
  max-height: 4px;
}

.border-edge-bot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 65%;
  max-height: 4px;
  z-index: 1;

  &.reversed {
    left: unset;
    right: 0;
  }
}

.border-edge-left {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 4px;
  max-height: 80%;

  &.reversed {
    right: 0;
    left: unset;
    bottom: 0;
    width: 4px;
    max-height: 85%;
  }
}

.border-edge-right {
  position: absolute;
  right: 0;
  top: 5%;
  width: 4px;
  max-height: 85%;

  &.reversed {
    left: 0;
    bottom: 0;
    width: 4px;
    max-height: 80%;
  }
}
