.arrows-container {
  max-width: 1080px;
  margin: auto;
  padding: 1em 0 5em;

  img {
    z-index: 1;
  }

}

.arrows {
  display: flex;
  justify-content: center;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-body {
  max-height: 4px;
}

.arrow-right {
  .arrow-head-1 {
    transform: scaleX(-1);
  }
}

.page-title-fill {
  h1 {
    color: white;
    font-size: 3em;
    width: 500px;
    padding: 0;
    margin: 0em;
    text-align: center;
  }
}

.page-title-empty {
  padding: 0 5em;
}

.empty {
  .arrow {
    .arrow-body {
      width: 600px;
    }
  }

  .page-title {
    width: 400px;
  }
}
