@import "../../../scss/mixins.scss";

.arrows-container-bg {
  display: flex;
  background: linear-gradient(#000000, #000000, #00000000);
  padding: 1em auto 5em;
}
.arrows-container-bg.TRAINERS {
  display: flex;
  background-color: black;
  padding: 1em auto 5em;
}

.arrows-container {
  background-color: black;
  max-width: 1080px;
  margin: auto;
  margin: 1em auto 5em;

  img {
    z-index: 1;
  }
}

.arrows {
  position: relative;
  display: flex;
  justify-content: center;

  @include tablet-portrait {
    align-items: center;
  }
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-body {
  max-height: 4px;

  @include tablet-landscape {
    width: 280px;
  }

  @include tablet-portrait {
    width: 200px;
  }

  @include mobile-landscape {
    width: 100px;
    height: 2px;
  }
}

.arrow-head-1 {
  @include tablet-landscape {
    width: 35px;
  }

  @include tablet-portrait{
    width: 30px;
  }

  @include mobile-landscape {
    width: 20px;
  }
}

.arrow-right {
  .arrow-head-1 {
    transform: scaleX(-1);
  }
}

.page-title-fill {
  h1 {
    color: white;
    font-size: 3em;
    width: 500px;
    padding: 0;
    margin: 0em;
    text-align: center;

    @include desktop-mid {
      width: 200px;
      font-size: 2em;
    }

    @include tablet-portrait {
      background-color: white;
      width: 10px;
      height: 10px;
      color: transparent;
      border-radius: 50%;
      margin: 0 30px;
    }
  }
}

.page-title-empty {
  padding: 0 5em;

  @include tablet-portrait {
    background-color: white;
    padding: 0;
    width: 10px;
    height: 10px;
    color: transparent;
    border-radius: 50%;
    margin: 0 30px;
  }

  @include mobile-landscape {
    background-color: white;
    padding: 0;
    width: 10px;
    height: 10px;
    color: transparent;
    border-radius: 50%;
    margin: 0 30px;
  }
}

.empty {
  .arrow {
    .arrow-body {
      width: 600px;

      @include desktop-mid {
        width: 400px;
      }

      @include tablet-landscape {
        width: 300px;
      }

      @include tablet-portrait {
        width: 200px;
      }
      @include mobile-landscape{
        width: 100px;
      }
      
    }
  }

  .page-title {
    width: 400px;
  }
}
