$max-height: 300px;

.vertical-arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  padding-top: 5em;
  left: calc(50% - 16px);
  z-index: 3;
}

.arrow-body-vertical {
  height: $max-height;
  width: 4px;
  padding-bottom: 3em;
  margin: auto;
}

.arrow-vertical-one {
  max-width: 32px;
  margin: auto;
}
