.hover-show-button {
  position: relative;
  text-align: center;
}

@media (max-width: 1500px) {
  .hover-show-button {
    margin: -4em -6em;
  }
}

@media (max-width: 1200px) {
  .hover-show-button {
    margin: -4em 0;
  }
}

@media (max-width: 900px) {
  .hover-show-button {
    margin: -4em -10em;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 600px) {
  .hover-show-button {
    margin: -7em -20em;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@media (max-width: 300px) {
  .hover-show-button {
    margin: -10em -20em;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}

.hover-show-button:hover .border-bottom {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.hover-show-button:hover .btn-class-join {
  -webkit-transform: translateY(-150px) scaleY(1);
          transform: translateY(-150px) scaleY(1);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.hover-show-button:hover .class-card-container .class-border .class-schedule-overlay {
  opacity: 100%;
}

.hover-show-button .class-card-container {
  position: relative;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.hover-show-button .class-card-container .class-border {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 757px;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hover-show-button .class-card-container .class-border .class-image {
  position: absolute;
  top: 35px;
  left: 40px;
}

.hover-show-button .class-card-container .class-border .class-name {
  color: white;
  position: absolute;
  font-size: 4.2em;
  bottom: 0%;
  left: 10%;
}

.hover-show-button .class-card-container .class-border .border-bottom {
  margin-top: -25px;
  width: 750px;
  max-height: 4px;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.hover-show-button .class-card-container .class-border .class-schedule-overlay {
  color: white;
  position: absolute;
  margin-top: 0.5em;
  width: 100%;
  height: 100%;
  opacity: 0%;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background-color: rgba(0, 0, 0, 0.795);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.hover-show-button .class-card-container .class-border .class-schedule-overlay ul {
  list-style: none;
  text-align: right;
  font-size: 2.2em;
  line-height: 2em;
}

.hover-show-button .class-card-container .class-border .class-schedule-overlay .schedule-lists {
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hover-show-button .btn-class-join {
  border: 2px solid red;
  margin: 0 auto;
  border-radius: 5px;
  background: transparent;
  height: 65px;
  width: 480px;
  display: block;
  float: none;
  line-height: 40px;
  text-align: center;
  font-family: "Ubuntu";
  font-size: 1.5em;
  color: white;
  -webkit-transform: translateY(-150px) scaleY(0);
          transform: translateY(-150px) scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.hover-show-button .btn-class-join:hover {
  background-color: red;
}

.hover-show-button .btn-class-join:active {
  background-color: #cc0000;
}
/*# sourceMappingURL=class-card.css.map */