@import '../../../scss/mixins.scss';

$maxWidth: 100px;
$maxHeight: 70px;

.about-card {
  display: flex;
  align-items: center;
  z-index: 1;

  @include tablet-landscape {
    justify-content: center;
    margin-bottom: 2em;
  }
}

.about-card-text {
  color: white;
  max-width: 400px;
  z-index: 1;

  @include tablet-landscape {
    min-width: 400px;
  }
}

.icon {
  padding: 0 3em;
  width: $maxWidth;
  height: $maxHeight;
  z-index: 1;
}
