@import "../../scss/mixins.scss";

$maxWidth: 500px;

.classes-container {
  display: flex;
  justify-content: center;
  max-width: 1080px;
  margin: auto;

  .class-image-container {
    @include tablet-landscape {
      margin: 0 -5em;
    }

    @include tablet-portrait {
      margin: 0 -10em;
    }
  }
}

.glow-container {
  display: flex;
  position: absolute;
  max-width: 1080px;
  margin: auto;
}

.glow-men {
  width: $maxWidth;
  height: $maxWidth;
  background: radial-gradient(#fdc660, #ff801700, #ff801700);
  mix-blend-mode: overlay;
}

.glow-women {
  width: $maxWidth;
  height: $maxWidth;
  background: radial-gradient(#4decf1, #17f0ff00, #17b6ff00);
  mix-blend-mode: overlay;
}

.lower-shadow {
  position: absolute;
  display: block;
  width: 100%;
  height: $maxWidth + 50px;
  background: linear-gradient(#00000000, #00000000, #000000);
  z-index: 2;
}

.higher-shadow {
  position: absolute;
  display: block;
  width: 100%;
  height: $maxWidth + 50px;
  background: linear-gradient(#000000, #00000000, #00000000, #00000000);
  z-index: 0;
}

.text-container {
  max-width: 1080px;
  margin: auto;
  display: flex;
  justify-content: center;
  color: white;

  @include tablet-portrait {
    flex-direction: column;
    align-items: center;
  }
}

.text {
  max-width: $maxWidth;
  padding: 0 1em 2.5em;
  z-index: 1;

  @include tablet-landscape {
    margin: 0 -4em;
    padding: 0;
  }

  @include tablet-portrait {
    padding: 0;
  }

  h1 {
    font-weight: bolder;
    font-size: 3em;
    margin-bottom: 0.8em;

    @include tablet-landscape {
      font-size: 2em;
    }
  }

  h4 {
    font-size: 1.2em;
  }

  p {
    font-weight: normal;
  }
}

.right {
  text-align: left;
  padding-left: $maxWidth/5;

  & *:nth-child(n + 2) {
    @include tablet-landscape {
      padding-right: 8em;
    }

    @include tablet-portrait {
      text-align: center;
      padding: 0;
    }
  }

  @include tablet-portrait {
    text-align: center;
    padding: 0;
  }
}

.left {
  text-align: right;
  padding-right: $maxWidth/5;

  & *:nth-child(n + 2) {
    @include tablet-landscape {
      padding-left: 8em;
    }
    @include tablet-portrait {
      text-align: center;
      padding: 0;
    }
  }

  @include tablet-portrait {
    text-align: center;
    padding: 0;
  }
}

.text-and-background {
  background-color: black;
}

.classes-page {
  background-image: url("../../assets/images/classes-page/classes-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  margin: auto;
  height: auto;
  background-color: black;
}
