@import '../../../scss/mixins.scss';

.sidenav-container {
  position: fixed;
  height: 243px;
  right: 2%;
  bottom: calc(50% - 243px / 2);
  z-index: 8;

  @include mobile-landscape {
    display: none;;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .home-icon {
    width: 26px;
  }

  .red-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: red;
    z-index: 7;

    transition: all 0.2s 0.4s ease-out;
  }
}
