@import "../../../../scss/mixins.scss";

.menu-button {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  height: 35px;
  width: 45px;
  top: 35px;
  left: 5%;
  z-index: 11;

  @include tablet-portrait {
    display: flex;
    top: 10px;
    height: 30px;
    width: 35px;
  }

  &.open {
    justify-content: center;
  }

  transition: all 0.4s ease-out;

  &.small {
    top: 10px;
    height: 30px;
    width: 40px;
  }

  .line {
    height: 4px;
    min-height: 4px;
    background-color: white;
    border-radius: 5px;

    transition: all 0.4s ease-out;
  }

  &.open {
    .line {
      &.first {
        position: absolute;
        width: 45px;
        transform: rotate(405deg);
      }
      &.second {
        transform: translateX(-200px);
      }
      &.third {
        position: absolute;
        width: 45px;
        transform: rotate(-405deg);
      }
    }
  }
}
