@import "../../scss//mixins.scss";

$logoWidth: 167px;
$logoHeight: 114px;
$logotypeWidth: 310px;
$logotypeHeight: 125px;

$main-color: #ff0000;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu";
  margin: 0px;
  background-color: black;
  overflow-x: hidden;

  button {
    &:focus {
      outline: none;
    }
  }
}

.container {
  max-width: 1920px;
  margin: auto;
}

.current {
  color: red;
}

// --- NAVBAR ---

.navbg-large {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 7em;
  z-index: 8;
  transition: all 0.2s ease-in-out;
}

.navbg-small {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 3em;
  z-index: 8;
  transition: all 0.2s ease-in-out;
}

// --- LARGE NAV ---

.large {
  display: flex;
  justify-content: space-around;
  position: fixed;
  left: 0;
  right: 0;
  padding: 0;
  width: 100%;
  z-index: 9;
  transition: all 0.2s ease-in-out;

  ul {
    display: flex;
    justify-content: space-between;
    width: 45%;
    padding: 2em;
    margin: 0;
    font-size: 1.25em;
    transition: all 0.2s ease-in-out;

    @include tablet-portrait {
      display: none;
    }

    li {
      list-style-type: none;

      a {
        text-decoration: none;
        color: white;
        position: relative;

        &.current {
          color: white;

          &:active {
            &:after {
              background: red;
            }
          }
        }

        &:after {
          content: "";
          position: absolute;
          left: 0;
          width: 100%;
          height: 3px;
          margin: 1.2em auto 0;
          background: white;

          transform-origin: right;
          transform: scaleX(0);
          transition: transform 0.2s ease-in-out;
        }

        &:hover::after {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
  }

  .flex-eq {
    display: flex;
    padding: 0 122px 0 0;
    transition: all 0.2s ease-in-out;
  }

  .btn-login {
    margin: auto 0;
    border-radius: 0.2em;
    justify-content: flex-end;
    background: transparent;
    height: 47px;
    line-height: 40px;
    border: 1px solid white;
    display: block;
    float: none;
    text-align: center;
    width: 122px;
    font-family: "Ubuntu";
    font-size: 1.25em;
    color: $main-color;

    @include tablet-portrait {
      margin-top: 30px;
      margin-left: 40%;
    }

    @include mobile-landscape{
      margin-top: 30px;
      margin-left: 20%;
    }
  }
}

// --- SMALL NAV ---

.small {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  padding: 0;
  width: 100%;
  z-index: 9;
  transition: all 0.2s ease-in-out;

  ul {
    display: flex;
    min-width: 500px;
    justify-content: space-between;
    width: 35%;
    padding: 1em;
    margin: 0;
    font-size: 1em;
    transition: all 0.2s ease-in-out;

    @include tablet-landscape {
      width: 20%;
      min-width: 400px;
    }

    @include tablet-portrait {
      display: none;
    }

    li {
      list-style-type: none;

      a {
        text-decoration: none;
        color: white;
        position: relative;

        &.current {
          color: red;

          &:after {
            background: red;
            transform: scaleX(1);
            transform-origin: left;
          }
        }

        &:after {
          content: "";
          position: absolute;
          left: 0;
          width: 100%;
          height: 3px;
          margin: 1.2em auto 0;
          background: white;

          transform-origin: right;
          transform: scaleX(0);
          transition: transform 0.2s ease-in-out;
        }

        &:hover::after {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
  }

  .flex-eq {
    display: flex;
    padding: 0 50vw 0 0;
    transition: all 0.2s ease-in-out;

    @include desktop-mid {
      padding: 0 40vw 0 0;
    }
  }

  .btn-login {
    background: url("../../assets/images/user-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    font-size: 0;
    width: 50px;
    height: auto;
    margin: 0 10px;
    padding-right: 100px;

    @include tablet-portrait {
      margin-top: 20px;
      height: 50px;
    }
  }
}

// --- LANDING PAGE ---

.landing-page {
  background-image: url("../../assets/images/landing-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90% auto;
  margin: auto;
  height: 100vh;
  background-color: black;

  @include tablet-portrait {
    background-size: 140% auto;
  }

  @include mobile-landscape {
    background-size: 400% auto;
    background-position: fixed;
  }

  h1 {
    text-align: center;
    padding-top: 65vh;
    margin: 0;
    font-size: 2em;
    color: white;
    font-weight: normal;
  }

  .btn-join-main {
    display: block;
    justify-content: center;
    border: 2px solid $main-color;
    border-radius: 0.2em;
    width: 620px;
    height: 90px;
    margin: 1.2em auto;
    background: transparent;
    color: $main-color;
    text-align: center;
    font-family: "Ubuntu";
    font-size: 2em;

    transition: all 0.1s linear;

    @include tablet-portrait {
      max-width: 500px;
    }

    @include mobile-landscape {
      max-width: 300px;
    }

    &:hover {
      background: red;
      color: white;
      font-weight: bold;
    }

    &:active {
      background: darken(red, 5%);
      color: white;
      font-weight: bold;
      border: 2px solid lighten($main-color, 20%);
    }

    &:focus {
      outline: none;
    }
  }
}

.logo-large {
  position: absolute;
  top: calc(50% - #{$logoHeight}* 2);
  left: calc(50% - #{$logoWidth}/ 2);
  mix-blend-mode: screen;
  transition: all 0.2s ease-out;
  z-index: 3;

  img {
    padding: 0;
    width: 100%;
    transition: all 0.2s ease-out;
  }
}

.logo-small {
  position: fixed;
  mix-blend-mode: screen;
  z-index: 9;

  @include tablet-portrait {
    display: none;
  }

  img {
    padding: 0.3em 0 0 2em;
    width: 25%;
  }

  animation: slide 0.2s ease-out forwards;

  @keyframes slide {
    from {
      top: calc(50% - #{$logoHeight}* 2 - 200px);
      left: calc(50% - #{$logoWidth}/ 2);
    }
    to {
      top: 1px;
      left: 5%;
    }
  }
}

.logotype {
  position: absolute;
  top: calc(50% - #{$logotypeHeight}/ 2);
  left: calc(50% - #{$logotypeWidth}/ 2);
}
